<div class="left navside white dk" data-layout="column">
  <div class="navbar no-radius">
    <a [routerLink]="['/home']" class="navbar-brand ajax">
      <div class="inline">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="32" height="32">
          <circle cx="24" cy="24" r="24" fill="rgba(255,255,255,0.2)"></circle>
          <circle cx="24" cy="24" r="22" fill="#1c202b" class="brand-color"></circle>
          <circle cx="24" cy="24" r="10" fill="#ffffff"></circle>
          <circle cx="13" cy="13" r="2" fill="#ffffff" class="brand-animate"></circle>
          <path d="M 14 24 L 24 24 L 14 44 Z" fill="#FFFFFF"></path>
          <circle cx="24" cy="24" r="3" fill="#000000"></circle>
        </svg>
      </div>
      <span class="hidden-folded inline">pulse</span>
    </a>
  </div>
  <div data-flex="" class="hide-scroll">
    <nav class="scroll nav-stacked nav-active-primary" data-ui-nav="">
      <ul id="menu-main" class="p-b nav">
        <li class="nav-header hidden-folded">
          <span class="text-xs text-muted">Main</span>
        </li>
        <li id="nav-item-20" class="">
          <a href="" class=" ">
            <span class="nav-icon">
              <i class="material-icons">play_circle_outline</i>
            </span>
            <span class="nav-text">Discover</span>
          </a>
        </li>
        <li id="nav-item-22" class="">
          <a class="search-modal no-ajax ">
            <span class="nav-icon">
              <i class="material-icons">search</i>
            </span>
            <span class="nav-text">Search</span>
          </a>
        </li>
      </ul>
      <ul id="menu-your-collection" class="nav">
        <li class="nav-header hidden-folded">
          <span class="text-xs text-muted">Your collection</span>
        </li>
        <li id="nav-item-28" class="">
          <a href="" class="">
            <span class="nav-icon">
              <i class="material-icons">favorite_border</i>
            </span>
            <span class="nav-text">Likes</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div data-flex-no-shrink="">
    <nav class="nav-stacked m-b-sm nav-active-none">
      <ul id="menu-login" class="nav">
        <li id="nav-item-23" class="">
          <a href="" class="">
            <span class="nav-icon">
              <i class="material-icons">perm_identity</i>
            </span>
            <span class="nav-text">Signin</span>
          </a>
        </li>
        <li id="nav-item-131" class="">
          <a target="_blank" href="" class="">
            <span class="nav-text">BUY</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
