<div class="app-header white lt box-shadow-z1 hidden-lg-up">
  <div class="navbar">
    <a data-toggle="modal" data-target="#aside1" class="navbar-item pull-right m-r-0 m-l">
      <i class="material-icons">menu</i>
    </a>
  </div>
</div>
<div class="app-body" id="view">
  <div class="page-content">
    <div class="page-col row-col">
      <div class="page-left col-lg-9 b-r no-border-md">
        <div class="padding">
          <div class="page-title">
            <h1 class="inline m-b">Browse</h1>
          </div>
          <div class="widget widget_post_widget">
            <div data-ui-jp="jscroll" class="jscroll-loading-center">
              <div class="jscroll-inner">
                <div class="row item-grid ">
                  <rt-video></rt-video>
                  <rt-video></rt-video>
                  <rt-video></rt-video>
                  <rt-video></rt-video>
                  <rt-video></rt-video>
                  <rt-video></rt-video>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-right col-lg-3 w-xxl w-auto-md">
        <div class="padding" style="bottom: 60px;" data-ui-jp="stick_in_parent">
          <div id="post_widget-7" class="widget-1 widget-odd widget widget_post_widget">
            <h6 class="widget-title h6 text-muted">Top music</h6>
            <div class="row item-list  item-list-sm">
              <rt-item></rt-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
